html{
    /* background-position: center center;
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat; */
    scrollbar-width: none;
    /* background-image: url('../images/about-bg.jpg'); */
}

html::-webkit-scrollbar{
    display: none;
}

body{
    background: transparent;
    scrollbar-color: black;
}

.about-me-title-div{
    justify-content: center;
    text-align: center;
    padding-top: 50px;
    line-height: 100px;
    font-size: 50px;
    animation: 1s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0s 1 slideInFromTop;
}

.resume-link-div{
    margin-top: 50px;
    justify-content: center;
    position: absolute;
    text-align: center;
}

.resume-link{
    color: black;
    text-decoration: none;
    background-color: white;
    padding: 20px;
    font-weight: 700;
}

.about-me-content{
    background-image: linear-gradient( 65.5deg,  rgba(23,205,205,1) -15.1%, rgba(23,25,95,1) 71.5% );
    /* background-image: linear-gradient( 292.9deg,  rgba(27,13,45,1) 21.2%, rgba(120,64,96,1) 92.1% ); */
    height: 100%;
    padding: 50px;
    margin: 50px;
    border-radius: 20px;
    font-size: x-large;
}