html{
    scrollbar-width: none;
}

html::-webkit-scrollbar{
    display: none;
}

body{
    background: transparent;
    margin: 0;
    cursor: none;
}

.cursor{
    width: 25px;
    height: 25px;
    opacity: 0.6;
    background-color: black;
    border: 3px solid orange;
    /* background: transparent; */
    border-radius: 50%;
    position: absolute;
    z-index: 6;
    display: none;
}

html, body{
  color: white;
  font-family: 'Montserrat', calibri;
  background-color: #121212;
}
.menu-bar-div{
    position: fixed;
    width: 100%;
    z-index: 5;
}

.menu-button {
    display: inline-block;
    cursor: none;
    position: absolute;
    top: 20px;
    right: 25px;
    z-index: 1;
 }
  
 .bar1, .bar2, .bar3 {
    width: 35px;
    height: 2px;
    background-color: white;
    margin: 9px 0;
    transition: 0.4s;
 }

 .bar2{
     width: 20px;
 }

 .home-div{
    left: 25px;
    top: 20px;
    position: absolute;
    z-index: 2;
 }

 .home-div>a{
    cursor: none;
 }

 .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    background-color: black;
    overflow-x: hidden;
    padding-top: 80px;
    transition: 0.5s;
    right: 0;
    z-index: 4;
 }

 .menu-anchor {
    padding: 8px 8px 8px 35px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    cursor: none;
}

.active{
    font-weight: 900;
    color: white;
}

.closebtn{
    color: #f1f1f1;
}

.sidenav .closebtn:hover{
    text-decoration: none;
}

.menu-anchor:hover {
    color: #f1f1f1;
    background-color: white;
    transition: 0.3s;
    color: black;
    text-decoration: none;
}
  
.sidenav .closebtn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 60px;
    padding: 10px;
    cursor: none;
}
  
.follow-me-div{
    right: 45px;
    bottom: 20px;
    position: absolute;
}
  
.social-media-div{
    display: inline;
}
  
.img-link{
    float: left;
    padding: 5px;
    transition-duration: 0.3s;
}

.linkedin:hover{
    border-radius: 50%;
    background-color: #0A66C2;
}

.github:hover{
    border-radius: 50%;
    background-color: #46484b;
}

.medium:hover{
    border-radius: 50%;
    background-color: #329D30;
}

.instagram:hover{
    border-radius: 50%;
    /* background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 ); */
    background-color: #C73885;
    transition-duration: 0.3s;
}

 .linkedin:hover, .github:hover, .medium:hover {
    transition-duration: 0.3s;
 }

footer .sticky-footer{
    flex-shrink: 0;
    border-top: 1px solid #3f3f3f; margin-top:20px; padding: 10px 0;
}

.footer-social-div .img-link{
    float: none;
}

@media screen and (max-width: 991px) {
    .sidenav {
      padding-top: 60px;
      z-index: 4;
    }
  
    .menu-button {
      top: 5px;
      right: 15px;
    }
  
    .home-div{
      top: 10px;
      left: 10px;
    }
  
    .sidenav a {
      font-size: 18px;
    }

    .menu-bar-div{
        background-color: black;
        height: 52px;
        z-index: 3;
    }
}