@keyframes slideInFromTop{
  0%{
    transform: translateY(10%);
    opacity: 0;
  }
  100%{
    transform: translateY(0%);
  }
}

@keyframes slideInFromBottom{
  0%{
    transform: translateY(-10%);
    opacity: 0;
  }
  100%{
    transform: translateY(0%);
  }
}

html, body{
  color: white;
  font-family: 'Montserrat', sans-serif;
  background-color: #121212;
  cursor: none;
  overflow: hidden;
}

.div-left{
  background-color: black;
  width: 50%;
  height: 100%;
  float: left;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}

.div-right{
  background-image: url('../images/me_1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  width: 50%;
  height: 100%;
  float: right;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0.8;
  animation: 1s ease-out 0s 1 slideInFromBottom;
}

.work-name{
  font-size: 30px;
}

.my-name{
  font-size: 500%;
  font-weight: 600;
  margin-bottom: 45px;
}

.about-me-brief{
  display: block;
  width: 40%;
  text-align: justify;
}

.more-about-me-div{
  text-decoration: none;
}

.about-btn-text{
  font-size: 20px;
  color: white;
  transition: 0.3s;
}

.arrow-icon{
  margin-left: 0;
  margin-right: 10px;
  transition-duration: 0.3s;
}

.more-about-me-div{
  padding: 10px 10px 10px 0;
  width: fit-content;
  transition-duration: 0.3s;
}

.more-about-me-div:hover .arrow-icon{
  margin-right: 0px;
  margin-left: 10px;
  transition: 0.3s;
}

.name-container{
  top: 25%;
  left: 13%;
  z-index: 2;
  position: absolute;
  justify-content: center;
  animation: 1s ease-out 0s 1 slideInFromTop;
}

.copyright-div{
  z-index: 5;
  position: absolute;
  left: 10px;
  bottom: 5px;
}

@media screen and (max-height: 479px) {  /*479px*/
  .sidenav {
    padding-top: 50px;
    z-index: 4;
  }

  .home-div{
    top: 5px;
    left: 25px;
  }

  .menu-button {
    top: 5px;
    right: 25px;
  }

  .sidenav a {
    font-size: 18px;
  }

  .div-right{
    background-image: url('../images/me_2.jpg');
    width: 100%;
    height: 100%;
    opacity: 0.4;
  }

  .name-container{
    top: 30%;
    margin: 0 0 25 30px;
    left: 0%;
  }

  .work-name{
    font-size: 150%;
  }

  .my-name{
    font-size: 320%;
    width: 80%;
    margin: 0 0 16px;
  }

  .about-me-brief{
    width: 85%;
    font-size: 70%;
  }

  .menu-bar-div{
    background-color: black;
    height: 72px;
    z-index: 3;
    position: absolute;
    width: 100%;
    top: 0;
  }
}

@media screen and (max-width: 991px) {
  .sidenav {
    padding-top: 60px;
    z-index: 4;
  }

  .menu-button {
    top: 5px;
    right: 25px;
  }

  .home-div{
    top: 5px;
    left: 20px;
  }

  .sidenav a {
    font-size: 18px;
  }

  .div-left{
    background-color: unset;
  }

  .div-right{
    background-image: url('../images/me_2.jpg');
    width: 100%;
    height: 100%;
    opacity: 0.4;
  }

  .name-container{
    top: 25%;
    margin: 0 0 15px 30px;
    left: 0%;
    width: 70%;
  }

  .work-name{
    font-size: 150%;
  }

  .my-name{
    font-size: 320%;
    width: 80%;
  }

  .about-me-brief{
    width: 60%;
    font-size: 70%;
  }

  .menu-bar-div{
    background-color: black;
    height: 52px;
    z-index: 3;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
  }
}