@keyframes slideInFromTop{
    0%{
      transform: translateY(50%);
      opacity: 0;
    }
    100%{
      transform: translateY(0%);
    }
}

.projects-content-div{
    padding-top: 50px;
}

.projects-title-div{
    animation: 1s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0s 1 slideInFromTop;
    font-size: 200%;
}

.project-title, .read-more-link{
    font-size: 200%;
    text-decoration: none;
    color: white;
}

.project-title:hover{
    text-decoration: none;
    color: white;
}

.project-div{
    padding: 0 15px;
    border: 1px solid grey;
    border-radius: 15px;
    margin: 20px auto;
    height: 750px;
}

.project-div .card{
    background-color: transparent;
}

.project-img-div{
    overflow: hidden;
}

.project-div .card-img-top{
    transition: 0.5s;
}

.card-img-top:hover{
    transition: 0.5s;
    transform: scale(1.2);
}

.ongoing-project-div{
    position: absolute;
    box-shadow: 0 -2px 20px rgba(0, 0, 0, 1);
    top: -10px;
    right: 10px;
    background-color: deepskyblue;
    padding: 5px 7px;
}

.tech-used-div{
    margin: 30px 0;
}

.tech-p{
    display: inline-block;
    margin-bottom: 5px;
    padding: 7px 10px;
    background-color: grey;
    border-radius: 25px;
}

.read-more-link{
    font-size: 150%;
    background-color: #151965;
    border: 0;
    transition-duration: 0.3s;
    font-weight: 700;
    padding: 10px 20px;
}

.read-more-link:hover{
    color: black;
    background-color: white;
    transition-duration: 0.3s;
    text-decoration: none;
}

@media screen and (max-width: 991px){
    .project-div{
        border-bottom: 1px solid white;
    }

    .ongoing-project-div{
        font-size: 80%;
    }
}